<html>
    <head>
        <title>Todo App</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:100"     rel="stylesheet">  
    
    
    </head>


    <body>
        <div class="container">
            <h2>A simple ToDo List app</h2>
            <form action="/addtask" method="POST">
            <input type="text" name="newtask" placeholder="add new task">

            <button>Add task</button>

            <h2> Added Task </h2>
            
            <% for( var i = 0; i < task.length; i++){ %>
         <li> <input type="checkbox" name="check" value="<%= task[i] %>" /> <%= task[i] %>  </li>
            <% } %>

            <button form action="/removetask" type="submit">Remove</button>
            </form>

            <h2>Completed task</h2>

            <% for(var i = 0; i < complete.length; i++) {
                %>
                <li><input type="checkbox" checked><%= complete[i] %>
                
                </li>
            
                <% } %>

            
        </div>
    </body>
</html>